{% extends"simple_page.html.j2" %}
{% block page_content %}
    <p>Questo sito è una versione <i lang="en">online</i> dello <i>Schedario napoletano</i> scritto da
        Giuseppe Giacco
        e pubblicato sul sito Vesuvioweb nel 2012 (<a
                href="http://www.vesuvioweb.com/it/2012/01/giuseppe-giacco-schedario-napoletano/">parte 1</a> e
        <a href="http://www.vesuvioweb.com/it/2012/04/02-schedario-napoletano-parte-seconda-di-giuseppe-giacco/">2</a>).
        L’autore del sito e della parte tecnica di estrazione automatica delle parole dal PDF invece è
        <a href="https://bfontaine.net/it/" rel="author">Baptiste Fontaine</a>.
    </p>
    <p>
    <ul>
        <li><a href="{{ url_for("introduction") }}">Introduzione</a></li>
        <li><a href="{{ url_for("abbreviations") }}">Abbreviazioni</a></li>
    </ul>
    </p>
    <p>Il codice sorgente del sito è aperto su <a href="https://github.com/Schedario-napoletano">GitHub</a>. Il
        sito non usa nessun tipo di <span lang="en">cookie</span> e le
        statistiche di consultazione sono <a href="https://plausible.io/schedarionapoletano.it">pubbliche</a>.
    </p>
{% endblock %}