{% extends"base.html.j2" %}
{% block content %}
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">A proposito</h1>
        </header>
        <div class="post-content">
            <p>Questo sito si vuole una versione <i lang="en">online</i> dello <i>Schedario napoletano</i> scritto da
                Giuseppe Giacco
                e pubblicato sul sito Vesuvioweb nel 2012 (<a
                        href="http://www.vesuvioweb.com/it/2012/01/giuseppe-giacco-schedario-napoletano/">parte 1</a> e
                <a href="http://www.vesuvioweb.com/it/2012/04/02-schedario-napoletano-parte-seconda-di-giuseppe-giacco/">2</a>).
            </p>
            <p>
            <ul>
                <li><a href="{{ url_for("introduction") }}">Introduzione</a></li>
                <li><a href="{{ url_for("abbreviations") }}">Abbreviazioni</a></li>
            </ul>
            </p>
            <p>Il codice sorgente del sito è aperto su <a href="https://github.com/Schedario-napoletano">GitHub</a>. Il
                sito non usa nessun tipo di <span lang="en">cookie</span> e le
                statistiche di consultazione sono <a href="https://plausible.io/schedarionapoletano.it">pubbliche</a>.
            </p>
        </div>
    </article>
{% endblock %}