<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for("static", filename = "img/logo.png") }}">
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <script defer data-domain="schedarionapoletano.it" src="https://plausible.io/js/plausible.js"></script>
    <title>{% block title %}Schedario napoletano{% endblock %}</title>
</head>
<body>
<header class="site-header top" role="banner">
    <div class="wrapper">
      <span class="site-title">
    <a href="{{ url_for("home") }}">Schedario napoletano</a>
          {% if letter %}
              &nbsp;&rsaquo;&nbsp; {{ letter }}</span>
          {% endif %}
        </span>
    </div>
</header>
<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>
</main>
<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p><a href="{{ url_for("a_proposito") }}">A proposito</a></p>
            </div>
            <div class="footer-col footer-col-2">
                <p></p>
            </div>
            <div class="footer-col footer-col-3">
                <p>&copy; Giuseppe Giacco</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>