{% extends "base.html.j2" %}
{% block head %}
    <meta property="og:title" content="Schedario napoletano">
    <meta name="description" content="Dizionario di napoletano online.">
{% endblock %}
{% block content %}
    <div class="home">
        <p>Benvenuti sul sito del <i>Schedario napoletano</i>!</p>

        <p>Al giorno d’oggi ci sono <b><span class="number">{{ total_definitions | safe }}</span> definizioni</b> di parole in lingua napoletana.</p>
    </div>
    {% include "bottom_search_nav.html.j2" %}
{% endblock %}