{% extends "base.html.j2" %}
{% block content %}
    <div class="home">
        {% include "letters_nav.html.j2" %}
        {% include "search_bar.html.j2" %}
        <p>Benvenuti sul sito del <i>Schedario napoletano</i>! Il sito non è ancora finito ma potete già cominciare a
            esplorarlo cliccando sulle lettere in alto.</p>

        <p>Al giorno d’oggi ci sono <b>22&nbsp;400 definizioni</b> di parole in lingua napoletana.</p>
    </div>
{% endblock %}