{% extends"base.html.j2" %}
{% block content %}
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">Il napoletano che sopravvive</h1>
        </header>
        <div class="post-content intro">
            <p>Anche il napoletano, come del resto quasi tutti i dialetti e le parlate locali, tende ormai da tempo ad
                uniformarsi alla lingua nazionale. Tale fenomeno, suscitato ed alimentato dalla scuola e dai mezzi di
                comunicazione, ha coinvolto masse sempre più ampie. Si è quindi imposto un napoletano "nobile", di cui
                neanche i più accesi tradizionalisti possono negare l'esistenza. Oggi si può dire che nel dialetto
                napoletano esistono tre tipi di vocaboli: <strong>i termini assimilati all'italiano</strong> (o <strong>italianizzati</strong>),
                perché già precedentemente abbastanza simili alla lingua nazionale, per la comune matrice quasi sempre
                latina; <strong>i termini disusati</strong> (o <strong>desueti</strong>), o perché molto dissimili
                dall'italiano e quindi incomprensibili alle masse, o perché francamente brutti (e sono avvertiti come
                tali i termini settoriali o gergali, i quali sono usati ancora nella loro forma più antica, oppure sono
                stati interamente sostituiti dai corrispondenti termini italiani, quando esistevano, senza passare per
                stadi intermedi); <strong>i termini che sopravvivono</strong>, sia pure in una veste alquanto
                italianizzata, perché talvolta più belli e significativi di quelli della lingua nazionale.</p>
            <p>Lo stesso discorso può essere integralmente ripetuto per gli aspetti morfologici e sintattici del
                dialetto napoletano.</p>

            <p>Nella pratica quotidiana, queste diverse esistenze talvolta si sovrappongono e talaltra si incrociano,
                mescolandosi e creando confusione. A ciò bisogna aggiungere le preesistenti incertezze ortografiche,
                perché la presenza frequente di false doppie e delle vocali mute ha spinto, nel passato, alcuni ad
                italianizzare indebitamente ed altri a cercare di intuire il probabile suono della vocale in questione:
                bisognava dire <i>buttone</i> e <i>purucchie</i> oppure <i>bettone</i> e <i>perucchie</i>?
                <i>ragazzi</i>veniva meglio espresso con <i>guagliuni</i>, <i>guagliune</i> oppure <i>vuagliune</i>, dal
                momento che la pronuncia è assai vicina a <i>wagliùn</i>? Gli articoli sono <i>o</i> e <i>a</i> oppure
                <i>’o</i> e <i>’a</i>? <i>’no</i>, <i>’nu</i> e <i>’na</i> oppure <i>no</i>, <i>nu</i> e <i>na</i>? Era
                lecito usare anche in napoletano un condizionale e un futuro che, se esistono, sono rari e francamente
                brutti? E le doppie, quando era giusto usarle e quando no? Lo stesso autore scriveva in maniera diversa
                (e non per fini artistici) la stessa parola: in Di Giacomo (ma anche nei dizionari) si trova
                <i>sango</i> e <i>sanghe</i>, <i>buttone</i> e <i>bettone</i> ecc.</p>
            <p>Per questi motivi, chi voglia scrivere in napoletano si imbatte ancora oggi in problemi linguistici
                certamente più numerosi e gravi di quelli che deve affrontare nell'uso dell'italiano, per il quale
                esiste una tradizione scolastica ormai per fortuna abbastanza consolidata. L'artista infatti, per la sua
                necessità di esprimere pensieri e sentimenti notevoli in maniera elegante, propria e chiara, va alla
                ricerca dei termini più compresi e comuni, espressi con una trascrizione chiara ed univoca; soprattutto
                nella lirica avverte la necessità di disporre di termini eleganti e diffusi, pur non disdegnando (per
                raggiungere particolari intenzioni artistiche) di ricorrere a parole di maggiore effetto, che spesso
                trova tra i termini rari ed arcaici. Talvolta egli assume coscienza che, dove l'erudito o la lingua gli
                vengono meno, tocca proprio a lui, all'artista, creare ed imporre la sua lingua.</p>
            <p>D'altro lato, anche il consumatore comune ormai parla un dialetto che è più italiano che napoletano.
                Addirittura si può notare in alcuni casi che l'abitudine ad escludere il dialetto anche dall'ambito
                familiare ha fatto sì che molti comprendono ancora il napoletano usato dagli anziani, ma non vogliono o
                non sanno utilizzarlo. Sembra quindi paradossalmente capovolta oggi l'antica posizione: se un tempo si
                pensava in dialetto e si traduceva in italiano, oggi molto spesso si conosce il termine italiano, ma non
                si riesce a ricordare o a ritrovare quale sia il termine dialettale; e se lo si trova, ci si imbatte tra
                diverse varianti, tutte problematiche: quindi è in manifesta difficoltà chi pensa in italiano e vuole
                esprimersi in napoletano, che è la sua lingua materna, cioè la lingua della nostalgia e dei sentimenti
                più intimi.</p>
            <p>Si avverte quindi la necessità di un lavoro specifico, finalizzato al superamento delle difficoltà
                esistenti nell'uso del dialetto. Occorre cioè registrare il <strong><i>napoletano che
                    sopravvive</i></strong>, evitando i termini ormai uniformatisi all'italiano, ma anche quelli non più
                usati: un vocabolario che non sia frutto di una ricerca erudita. Vocabolari di questo tipo sono già
                numerosi, anche di recente pubblicazione, e la bibliografia allegata ne indica parecchi a chi avesse
                necessità di consultarli. Questi però registrano tutti i termini, rivelando la confusione esistente in
                napoletano e qui sopra segnalata; presentano inoltre il rischio di spingere a scegliere solo i termini
                approvati dagli autori classici e di determinare l'affermazione di una Crusca napoletana, con il ritorno
                di vocaboli disusati, trascritti nella forma antica, con grave ostacolo per la comprensione dei testi.
                Noi abbiamo bisogno invece della lingua che c'è, non di quella che c'è stata. E' un problema di
                selezione e di scelta che, se è atto intelligente e personale, è anche opinabile e criticabile. Ma è un
                discorso che bisogna avere il coraggio di fare, se si vuole che il napoletano sopravviva, come lingua
                dell'uso e dell'espressione letteraria.</p>
            <h3>Concludendo</h3>
            <p>Intrapresi questo lavoro per correggere soprattutto i miei scritti dialettali, ma, nonostante qualche
                perplessità, che non sono riuscito a rimuovere del tutto, mi si sono maturati alcuni principi che ancora
                oggi mi sembrano incontrovertibili. Se li espongo qui e ne applico i risultati in questo dizionario, è
                perché nutro speranza che essi possano essere utili anche ad altri. Per tale via la lingua italiana
                diventerebbe più uniforme e sarebbe sollevata dagli arbìtri e dall’ignoranza.</p>
            <p>Lo schedario e il repertorio, che qui si offrono, vogliono essere l'applicazione pratica delle opinioni
                espresse nelle pagine precedenti, che dovrebbero avere chiarito limiti e fini di questo lavoro.</p>
            <p>Lo <strong>SCHEDARIO</strong> (quindi una semplice raccolta di schede), si concede talvolta
                all'erudizione, ma si è pensato che potesse essere utile offrire, in alcuni casi, la lettura del termine
                e l'etimologia (quando mi è riuscito di trovarla), per consentire, a chi lo consulta, di decidere
                autonomamente quale possa essere la trascrizione migliore. Le schede registrano anche le variazioni
                morfologiche: il femminile, il plurale, le espressioni tipiche e altre situazioni da tenere presente.
                Gli altri modi in cui il termine è stato scritto vengono comunque registrati al loro giusto posto e da
                essi si rimanda alla trascrizione che si ritiene più giusta. Le parole scritte in grassetto sono quelle
                del napoletano che sopravvive e quindi sono ancora oggi ampiamente usate; quelle scritte in corsivo sono
                parole disusate; le parole scritte in carattere normale sono pure e semplici italianizzazioni.</p>
            <p><b>Esempi:</b></p>
            <ul>
                <li><b>pede</b> (<i>’ped</i> dal <abbr title="latino">lat.</abbr> <i>pes-pedis</i>)
                    <i><abbr title="plurale">pl.</abbr></i> piede; = piede;
                    <i><abbr title="plurale">pl.</abbr></i> <b>piede</b>. (Si rimanda a questa voce da: <i>père</i>,
                    <i>pète</i>, <i>piéte</i>, <i>pière</i>).
                </li>
            </ul>

            <p>La seconda parte del lavoro è costituita dal <strong>REPERTORIO</strong> (non <strong>Dizionario</strong>,
                che è il titolo con cui mi piace indicare tutto il lavoro di ricerca grammaticale e lessicale che qui
                espongo), il quale offre una scelta di termini, non registrando <i>volutamente</i> le parole ormai
                assimilate all'italiano e quelle non più usate. Delle parole registrate, si offre in primo luogo il
                corrispondente termine dialettale più usato, nella trascrizione più comune o che si ritiene più esatta.
                Nel rendere, tuttavia, la lettura dei termini, si è rinunciato alla trascrizione fonematica a favore di
                un sistema più semplice:
            </p>
            <ul>
                <li>la vocale in grassetto indica la sillaba tonica;</li>
                <li>il suono indistinto viene indicato col simbolo ∈, se vocale; ∨, se consonante;</li>
                <li>anche in assenza di indicazione, la vocale in fine di parola, se non ha accento, è sempre muta.</li>
            </ul>
            <p><i>Per la lettura, occorre però ricordare:</i></p>
            <ul>
                <li>la <i>s</i> che precede la <i>t</i> corrisponde alla <i>s</i> italiana (es. <i>stanza</i>,
                    <i>strummolo</i>, <i>storia</i>), negli altri casi si avvicina al suono della <i>sc</i> italiana;
                </li>
                <li>i termini che cominciano per <i>sc</i>, se non corrispondono alla <i>sc</i> italiana, hanno il suono
                    <i>sc</i> più debole (<abbr title="esempio">es.</abbr> scimmia/scigna, fiore/sciore);
                </li>
                <li>il digramma <i>ch</i> ha in napoletano il suono <i>χ</i> greco, se in italiano ha dato luogo al
                    gruppo <i>pi</i> (<abbr title="esempio">es.</abbr> <i>chiagnere</i>, <i>cchiù</i>, <i>chino</i>…);
                    ha il suono di <i>k</i> se in italiano ha dato luogo ad una <i>c</i>
                    (<abbr title="esempio">es.</abbr> <i>stucchià</i>, da stucco){#
                    #}<sup><a id="ref-1" href="#note-1">[1]</a></sup>.
                </li>
            </ul>

            <h2>Premessa al Dizionario</h2>
            <p>La grande varietà di dominazioni (e quindi le lingue), che hanno influito sul napoletano, hanno lasciato
                profondi segni, perciò questo dialetto presenta numerose oscillazioni, che ne hanno reso sempre assai
                difficile la codificazione. Gli autori, le grammatiche e i dizionari esistenti spesso si contraddicono;
                quasi nessuno, poi, prende in considerazione l'evoluzione di questo dialetto, che sempre più si adegua
                alla lingua nazionale; ne consegue che chi scrive in dialetto non possiede una lingua codificata e
                sicura cui fare riferimento. Ecco perché mi sono dovuto formare un mio dizionario ed una mia
                grammatica.</p>
            <p>Questo dizionario registra solo le parole napoletane che ancora vivono nella parlata o nella cultura
                napoletana (perché legate a testi celebri o nelle tradizioni popolari ancora vive…) Di ciascun termine
                si dà il significato italiano corrispondente più realistico, non dilungandosi a dare i diversi
                significati che il termine stesso aassume in italiano e che ciascuno può verificare su qualsiasi
                dizionario della lingua nazionale. Nel caso che siano tuttora vive diverse lezioni della stessa parola,
                si fa riferimento a quella che io ritengo più corretto usare in napoletano.</p>
            <p>Per consentire una migliore consultazione di questo lavoro, mi permetto di dare alcuni suggerimenti che
                mi sembrano utili:</p>
            <ul>
                <li><em>ad eccezione di <b><a href="{{ url_for("word_page", slug="-o") }}">’o</a>{#
                    #}-<a href="{{ url_for("word_page", slug="-a") }}">’a</a>{#
                    #}-<a href="{{ url_for("word_page", slug="-e") }}">’e</a></b>, la parola va restituita alla sua
                    scrittura originaria e cercata senza l’apostrofo</em>.
                    Questo segno infatti indica la caduta di vocale o consonante; <abbr title="esempio">es.</abbr>: gli
                    articoli <i>’o</i>, <i>’a</i>, <i>’e</i>; <i>’ammore</i>, che significa <i>l'ammore</i> o
                    <i>d'ammore</i>; <b>’cquista</b>, che significa <i>acquista</i>, sono registrate semplicemente
                    come <b><a href="{{ url_for("word_page", slug="ammore") }}">ammore</a></b> e
                    <b><a href="{{ url_for("word_page", slug="acquista") }}">acquista</a></b>. Ricordare anche che nel
                    napoletano i nomi femminili che terminano in <b>–e</b> (quinta declinazione latina), terminano in
                    <b>–a</b> (prima declinazione latina). Tuttavia spesso vengono italianizzati:
                    <abbr title="esempio">es.</abbr>: <i>pelle</i> per <i>pella</i>, <i>morte</i> per <i>morta</i>,
                    <i>sciorte</i> per <i>sciorta</i>, ecc.
                </li>
                <li><em>la parola che inizia con consonante doppia, va cercata quasi sempre con consonante semplice</em>:
                    tale raddoppio è spesso un effetto fonetico, utilmente segnalato da chi scrive, per rendere più
                    corretta e scorrevole la lettura o per segnalare la differenza tra due parole, che diversamente
                    sembrerebbero uguali. In particolare, raddoppiano la consonante iniziale le forme del femminile
                    plurale (<i><abbr title="esempio">es.</abbr></i> ’a casa, <i><abbr title="plurale">pl.</abbr></i>
                    ’e ccase; ’a femmena, <i><abbr title="plurale">pl.</abbr></i> ’e ffemmene) e quelle neutre
                    (<i><abbr title="esempio">es.</abbr></i> ’o chiummo, ’o napulitano; ma per indicare la materia si
                    dice: ’o cchiummo, ’o nnapulitano).
                </li>

                <li><em>la <i><b><a href="{{ m.letter_page_url("J") }}">j</a></b></i> va sempre cercata come
                    <i><b><a href="{{ m.letter_page_url("I") }}">i</a></b></i>. Così anche il gruppo <i><b>gh</b></i>.
                    (spesso premesso per semplice eufonia).</em>
                </li>
                <li><em>le parole che iniziano per <b>’n</b> e <b>’m</b>, vanno cercate senza questi segni</em>; infatti
                    la <b>’n</b> (che significa <i>in</i>,
                    <i>nel</i>) si unisce alla parola successiva e davanti a <b>m-p-b</b> si trasforma in <b>’m</b>.
                </li>
                <li><em>cercare sempre il singolare maschile oppure l’infinito presente di ogni parola</em>; sono
                    infatti state registrate molte particolarità, ma non tutte. Si ricordi, per esempio, che la parola
                    che precede trasforma in <b>u</b> la <b>o</b> del <i>m.s.</i>, mentre l’aggettivo trasforma in
                    <b>i</b> la <b>e</b> del plurale: <i><abbr title="esempio">es.</abbr></i> <b>guaglionu bello</b> -
                    <b>bellu guaglione</b>; <b>guagliune-guaglióne belle</b> - <b>belli guagliune-gguaglióne</b>; il
                    plurale in <b>i</b> e <b>a</b>, <abbr title="esempio">es.</abbr>: <b>quanti guagliunegguaglione</b>;
                    <b>quanta guagliune-guaglione</b>. Invece <b>tanto</b> e <b>quanto</b> hanno, come <i>pr.pl.</i>
                    <b>tantequante</b>; come aggettivo fanno <b>quantu-a</b>, <b>tantu-tanta</b> e al plurale
                    <b>tanti-quanti</b> (<em>per il femminile anche <b>tanta-quanta</b> ma non si raddoppia la
                        consonante iniziale del femminile: e</em> <b>tanti-quanti ffarfalle</b>, <b>tanta-quanta
                        farfalle</b>).
                </li>
                <li><em>quando la parola manca, ipotizzare uno scambio tra le consonanti <b>d-t-r</b> (e talvolta anche
                    <b>l</b>) e tra le vocali</em>; tale scambio è frequente soprattutto per la vocale muta
                    interconsonantica (che nella <em>lettura</em> qui talvolta registrata viene indicata come <b>ε)</b>,
                    interpretata <b>u-e</b> oppure mutuata dall’italiano (<abbr title="esempio">es.</abbr>
                    <b>perucchio</b>, <b>purucchio</b>, <b>pirucchio</b>).
                </li>
            </ul>

            <p><strong>NOTA:</strong> si cerca di snellire il dizionario dando il termine napoletano che corrisponda
                meglio e possa con i suoi significati riprodurre meglio il temine napoletano; eventuale spiegazione va
                cercata nel vocabolario d’italiano.<br/>Si rimanda sempre al termine più vivo oggi, pur registrando i
                termini antichi. Di questi si riportano solo quelli ancora vivi oggi, se non nella parlata, almeno nei
                classici.</p>

            <p>&rarr; <a href="{{ url_for("abbreviations") }}">Abbreviazioni usate</a></p>

            <div class="notes">
                <div class="sep3"></div>
                <p id="note-1">(1): <span>Devo però sottolineare che le revisioni successive non rispettano i propositi
                    appena denunciati, ma ci si ripromette di ritornare ad essi in occasione di un’altra rivisitazione.</span>
                    <a href="#ref-1" title="tornare al testo">&uarr;</a></p>
            </div>
        </div>
    </article>
{% endblock %}