{% extends "base.html.j2" %}
{% block head %}
    {% if pagination.prev_num -%}
        <link rel="prev" href="{{ m.letter_page_url(letter, pagination.prev_num) }}">
    {%- endif %}
    {% if pagination.next_num -%}
        <link rel="next" href="{{ m.letter_page_url(letter, pagination.next_num) }}">
    {%- endif %}
{% endblock %}
{% block content %}
    {% include "letters_nav.html.j2" %}
    {% include "letter_notice.html.j2" %}
    <ul>
        {% for definition in pagination.items %}
            <li><b><a href="{{ url_for("word_page", slug=definition.slug) }}">{{ definition.word }}</a></b>
                {% if definition.qualifier %}– <i>{{ definition.qualifier }}</i>{% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if pagination.pages > 1 %}
        <div class="pagination">
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page == pagination.page %}
                        <b>{{ page }}</b>
                    {% else %}
                        <a href="{{ m.letter_page_url(letter, page) }}">{{ page }}</a>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>…</span>
                {% endif %}
            {%- endfor %}
        </div>
    {% endif %}
{% endblock %}