{% extends "base.html.j2" %}
{% block content %}
    {% include "letters_nav.html.j2" %}
    <ul>
        {% for definition in definitions %}
            <li><b><a href="{{ url_for("word_page", slug=definition.slug) }}">{{ definition.word }}</a></b>
            {% if definition.qualifier %}– <i>{{ definition.qualifier }}</i>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}