{% extends "base.html.j2" %}
{% import "macros.j2" as m %}
{% block head %}
    {% if pagination.prev_num -%}
        <link rel="prev" href="{{ m.letter_page_url(letter, pagination.prev_num) }}">
    {%- endif %}
    {% if pagination.next_num -%}
        <link rel="next" href="{{ m.letter_page_url(letter, pagination.next_num) }}">
    {%- endif %}
{% endblock %}
{% block content %}
    {% include "letters_nav.html.j2" %}
    {% include "letter_notice.html.j2" %}
    {{ m.definitions_list(pagination.items) }}

    {% if pagination.pages > 1 %}
        <nav class="pagination">
            <ul>
                {% if pagination.prev_num %}
                    <li><a href="{{ m.letter_page_url(letter, pagination.prev_num) }}"
                           title="Pagina precedente">&lsaquo;</a></li>
                {% endif %}
                {%- for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page == pagination.page %}
                            <li><b>{{ page }}</b></li>
                        {% else %}
                            <li class="other-page"><a href="{{ m.letter_page_url(letter, page) }}">{{ page }}</a></li>
                        {% endif %}
                    {% else %}
                        <li class="ellipsis">…</li>
                    {% endif %}
                {%- endfor %}
                {% if pagination.next_num %}
                    <li><a href="{{ m.letter_page_url(letter, pagination.next_num) }}"
                           title="Pagina successiva">&rsaquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}