<nav class="letters-nav">
    <ul>
    {% set current_letter = letter %}
        {% for letter in g.letters %}
            <li>
            {% if letter == current_letter %}
            <b>{{ letter }}</b>
            {% else %}
            <a href="{{ url_for("letter_index", letter=letter) }}">{{ letter }}</a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>