{%- macro letter_page_url(letter, page=1) -%}
    {%- if page == 1 -%}
        {{ url_for("letter_index", letter=letter) }}
    {%- else -%}
        {{ url_for("paginated_letter_index", letter=letter, page=page) }}
    {%- endif -%}
{%- endmacro -%}

{%- macro definition_page_url(definition) -%}
    {{ url_for("word_page", slug=definition.slug) }}
{%- endmacro -%}

{%- macro word_link(text, slug=None) -%}
    {% set slug = slug or text %}
    <a href="{{ url_for("word_page", slug=slug) }}">{{ text }}</a>
{%- endmacro -%}

{%- macro definitions_list(definitions) -%}
<ul>
    {% for definition in definitions %}
        <li><a href="{{ definition_page_url(definition) }}">{{ definition.word }}</a>
            {% if definition.qualifier %}– <i>{{ definition.qualifier }}</i>{% endif %}
        </li>
    {% endfor %}
</ul>
{%- endmacro -%}