{% extends "base.html.j2" %}
{% import "macros.j2" as m %}
{% block head %}
    <meta name="canonical" content="{{ url_for("search") }}">
{% endblock %}
{% block content %}
    <div class="search">
        {% include "search_bar.html.j2" %}
        {% if definitions %}
            <h2>Risultati:</h2>
            {{ m.definitions_list(definitions) }}
            {% if maximum_count == definitions_count %}
                <p class="notice">N.B. La ricerca è limitata ai primi {{ maximum_count }}&nbsp;risultati.</p>
            {% endif %}
        {% else %}
            <p class="notice">Nessun risultato.</p>
        {% endif %}
        {% include "letters_nav.html.j2" %}
    </div>
{% endblock %}