{% extends "base.html.j2" %}
{% import "macros.j2" as m %}
{% block head %}
    <meta name="canonical" content="{{ url_for("search") }}">
{% endblock %}
{% block content %}
    {% include "search_bar.html.j2" %}
    <div class="search">
        {{ m.definitions_list(definitions) }}
        {% if maximum_count == definitions_count %}
            <p class="notice">N.B. La ricerca è limitata a {{ maximum_count }} risultati.</p>
        {% endif %}
    </div>
    {% include "letters_nav.html.j2" %}
{% endblock %}