{% extends "base.html.j2" %}
{% block title -%}
    {{ definition.word }} · Schedario napoletano
{%- endblock %}
{% block content %}
    {% include "letters_nav.html.j2" %}
    {# TODO #}
    <dl>
        <dt>{{ definition.word }}</dt>
        <dd>
            {% if definition.qualifier %}<i>{{ definition.qualifier }}</i><br/>{% endif %}
            {% if definition.definition_type == g.definition_types.alias %}
                {# TODO at this point we don't have the target slug (we don't even know if the word exists) #}
                &rarr;&nbsp;<a href="#TODO">{{ definition.target }}</a>
            {% else %}
                {{ definition.definition|safe }}
            {% endif %}
        </dd>
    </dl>
{% endblock %}