{% extends "base.html.j2" %}
{% import "macros.j2" as m %}
{% block title -%}
    {{ definition.word }} · Schedario napoletano
{%- endblock %}
{% block content %}
    {% include "letters_nav.html.j2" %}

    {% if definition.definition %}
        {# https://schema.org/DefinedTerm #}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "DefinedTerm",
            "name": {{ definition.word | tojson }},
            "termCode": {{ definition.slug | tojson }},
            "description": {{ definition.definition | tojson }},
            "inDefinedTermSet": "https://www.schedarionapoletano.it/"
        }
        </script>
    {% endif %}

    <dl>
        <dt>{{ definition.word }}</dt>
        <dd>
            {% if definition.qualifier %}<i class="qualifier">{{ definition.qualifier }}</i><br/>{% endif %}
            {% if definition.definition_type == g.definition_types.alias %}
                &rarr;&nbsp;
                {% if definition.target %}
                    <a href="{{ m.definition_page_url(definition.target) }}">{{ definition.target_text }}</a>
                {% else %}
                    {# target with no known definition #}
                    {{ definition.target_text }}
                {% endif %}
            {% else %}
                {{ definition.definition|safe }}
            {% endif %}
        </dd>
    </dl>
    <nav class="pagination">
        <ul>
            {% if prev_definition %}
                <li>
                    <a href="{{ m.definition_page_url(prev_definition) }}">&lsaquo; {{ prev_definition.word }}</a>
                </li>
            {% endif %}
            {% if next_definition %}
                <li>
                    <a href="{{ m.definition_page_url(next_definition) }}">{{ next_definition.word }}
                        &rsaquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}