---
layout: default
---
{% include letters.html %}
{{ content }}

<dl>
{% for def in site.data.definitions[page.letter] %}
    <dt id="{{ def.word | entry_slug }}">{{ def.word | escape }}</dt>
    {% if def.template == "html" %}
    <dd>{% if def.qualifier %}<i>{{ def.qualifier }}</i> {% endif %}{{ def.html }}</dd>
    {% elsif def.template == "alias" %}
    <!-- TODO deal with target with a different initial letter -->
    <dd>&rarr; <a href="{{ def.target | entry_link: page.letter }}">{{ def.target | escape }}</a>.</dd>
    {% elsif def.template == "derivative" %}
    <!-- TODO idem -->
    <dd><i>{{ def.qualifier }}</i> <a href="{{ def.target | entry_link: page.letter }}">{{ def.target | escape }}</a>.</dd>
    {% else %}
    <!-- TODO: {{ def | escape }} -->
    {% endif %}
{% endfor %}
</dl>
