@charset "utf-8";
// From minima.scss

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;


$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// 380px
// 768px
// 1024px

// Width of the content area
$content-width: 800px !default;

$smartphone: 380px;
$tablet: 768px;
$desktop: 1024px;

// Use media queries like this:
// @include media-query($large-device) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}


@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@import "base";

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  a,
  a:visited {
    color: $grey-color-dark;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  @include flexbox();
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-col {
  display: inline-flex;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($tablet) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.75);

    @include media-query($tablet) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @include media-query($tablet) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.125);

    @include media-query($tablet) {
      @include relative-font-size(1.25);
    }
  }
}

.letters-nav, .pagination {
  ul {
    margin-left: 0;
    max-width: 100%;
    @include flexbox();
    justify-content: space-around;
    flex-wrap: wrap;

    @include media-query($tablet) {
      flex-wrap: nowrap;
    }
  }

  li {
    list-style-type: none;
    display: inline-flex;

    &.other-page, &.ellipsis {
      display: none;

      @include media-query($tablet) {
        display: inline-flex;
      }
    }
  }

  li + li {
    margin-left: .5em;
  }
}

.letters-nav {
  margin-bottom: 2 * $spacing-unit;
}

.pagination {
  margin-top: 2 * $spacing-unit;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: $spacing-unit;
}

.up {
  float: right;
  margin-bottom: $spacing-unit;
}