@charset "utf-8";
// From minima.scss

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$text-highlight-color: #ffff24;


$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$smartphone: 375px;
$tablet: 768px;
$desktop: 1024px;

// Use media queries like this:
// @include media-query($large-device) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, // blockquote, pre, figure,
hr, ol, ul {
  margin: 0;
  padding: 0;
}

abbr {
  text-decoration-line: none;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  @include flexbox();
  min-height: 100vh;
  flex-direction: column;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h4, h5, h6,
p, // blockquote, figure,
ul, ol, dl,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h2 {
  margin-bottom: $spacing-unit / 3;
}

h3 {
  margin-bottom: $spacing-unit / 4;
}


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit / 2;
}

@include media-query($tablet) {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @include media-query($desktop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  a,
  a:visited {
    color: $grey-color-dark;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  @include flexbox();
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-col {
  display: inline-flex;

  ul {
    list-style-type: none;
    margin-left: 0;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($tablet) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.75);

    @include media-query($tablet) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @include media-query($tablet) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.125);

    @include media-query($tablet) {
      @include relative-font-size(1.25);
    }
  }
}

.letters-nav, .pagination {
  ul {
    margin-left: 0;
    max-width: 100%;
    @include flexbox();
    align-content: flex-start;
    flex-wrap: wrap;
    column-gap: 1em;

    @include media-query($tablet) {
      flex-wrap: nowrap;
      font-size: 1em;
    }
  }

  li {
    list-style-type: none;
    display: inline-flex;
  }
}

.letters-nav {
  margin-bottom: $spacing-unit / 2;

  li {
    // slightly larger on small screens
    font-size: 1.1em;
    padding: 2px;
  }

  @include media-query($tablet) {
    margin-bottom: $spacing-unit;

    li {
      font-size: 1em;
      padding: 0;
    }
  }
}

.bottom-search-nav {
  margin-top: 2 * $spacing-unit;

  .letters-nav {
    margin-top: $spacing-unit;
  }
}

.pagination {
  margin-top: $spacing-unit;

  ul {
    justify-content: space-around;
  }

  li {
    &.other-page, &.ellipsis {
      display: none; // hide on small screens
    }
  }

  li a, .current-page, .ellipsis {
    // larger touch zone
    padding: 10px;
  }
}

@include media-query($tablet) {
  .pagination {
    li {
      &.other-page, &.ellipsis {
        display: inline-flex;
      }

      &.current-page {
        font-weight: bold;
      }
    }

    .legend {
      display: none;
    }
  }
}


dt {
  font-weight: bold;
}

dd {
  margin-bottom: $spacing-unit;
}

.number { white-space: nowrap; }

.hint, .notice {
  font-style: italic;
}

.qualifier {
  font-size: 0.8em;

  @include media-query($smartphone) {
    font-size: 1em;
  }
}

.search-form {
  .hint {
    font-size: 0.7rem;
    margin-left: 2px;
  }

  input {
    border: 1px solid $grey-color;
    border-radius: 2px;
    font-size: 1em;
  }
}

// Abbreviations page
dl.abbrs {
  dt, dd {
    float: left;
  }

  dt {
    font-style: italic;
    font-weight: normal;
    clear: left;
  }

  dd {
    margin-inline-start: .8ex;
    margin-bottom: 5px;

    &::before {
      content: "= ";
    }
  }
}


// Intro page
.intro {
  ul {
    // follow the style of the PDF document
    list-style-type: '- ';
  }

  .notes {
    margin-top: $spacing-unit;
    font-size: $small-font-size;

    :target span {
      background-color: $text-highlight-color;
    }

    .sep3 {
      border-top: 1px solid $text-color;
      width: 33%;
      margin-bottom: $spacing-unit / 4;
    }
  }
}

// Search page
.search {
  .letters-nav {
    margin-top: $spacing-unit;
  }

  .notice {
    font-size: 0.9em;
  }
}

// Error page
.error-page {
  font-size: 1.2em;
  text-align: center;

  h1 {
    font-size: 3em;
  }

  .search-form {
    display: inline-block;
    text-align: left;
  }

  .letters-nav {
    font-size: 1.1rem;

    @include media-query($tablet) {
      font-size: inherit;
      margin-top: 1.5 * $spacing-unit;
    }
  }
}